body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  position: relative;
}

.logo2 {
  width: 15%;
  height: 15%;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.sacola {
  background-image: url(img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 14px;
  padding-right: 35px;
  padding-top: 8px;
  text-align: right;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}

.busca{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.busca input[type=search] {
  width: 175px;
  border-radius: 80px;
  margin-bottom: 5px;
}

.busca button {
  border: none;
  background: none;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.busca,
.menu-departamentos {
  background-image: linear-gradient(45deg, #A770EF 5%, #CF8BF3 40%, #FDB99B 80%);
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
  float: left;
}

.menu-opcoes {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
}

.menu-opcoes a:hover {
  color: #007dc6;
}

.menu-opcoes a:active {
  color: #867dc6;
}

.menu-opcoes ul li {
  font-size: 15px;
  display: inline;
  margin-left: 20px;
}

.menu-opcoes a {
  color: #003366;
}

.menu-departamentos {
  clear: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.menu-departamentos ul li {
  background-color: white;
  margin-bottom: 1px;
  margin-top: 2px;
  padding: 5px 10px;
  list-style-type: none;
}

.menu-departamentos li ul {
  display: none;
}

.menu-departamentos li:hover ul {
  display: block;
}

.menu-departamentos ul ul li {
  background-color: #DCDCDC;
  border-radius: 0 15px;
}

.menu-departamentos li li a:before {
  content: '\272A  ';
  padding-right: 3px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}

figure img {
  border-radius: 5px;
}

.painel {
  margin: 10px 0px;
  padding: 10px;
  width: 446px;
  box-shadow: inset 0 0 40px rgb(187, 144, 144)
}

.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 2px;
  padding-bottom: 10px;
}

.painel h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #FFF;
}

.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.destaque {
  margin-top: 10px;
}

.novidades {
  float: left;
  background-color: #F5DCDC;
  border-radius: 16px;
}

.mais-vendidos {
  float: right;
  background-color: #DCDCF5;
  border-radius: 16px;
}


.banner-destaque img {
  width: 550px;
  height: 450px;
}

footer {
  background-color: black;
  clear: both;
  padding: 20px 0;
}

footer .container {
  position: relative;
}

.container img {
  margin-top: 15px;
}

.social {
  position: absolute;
  top: 24px;
  right: 0;
}

.social li {
  float: left;
  margin-left: 25px;
  list-style-type: none;
}

.social a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;
  /* image replacement */
  display: block;
  text-indent: -9999px;
}

.social a[href*="facebook.com"] {
  background-image: url(img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(img/googleplus.png);
}